body {
    background-color: #2f2f2f;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.s-btw {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.p10 {
    padding: 10px;
}

.card {
    background-color: #3b5998;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    margin: 10px;
    width: 200px;
    height: 400px;
}

.cardCart {
    background-color: #3b5998;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    margin: 10px;
    width: 80%;
    height: 200px;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
}

.cardCart img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 200px;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b5998;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    text-decoration: none;
}

.link:hover {
    color: orange;
    cursor: pointer;
}

.input {
    border-radius: 7px;
    width: 300px;
    height: 30px;
    margin: 10px;
}